a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: aqua;
    color: white;
}
body{
    font-family: 'Courier New', Courier, monospace;
   
    background-size: fill;
}
li{
    font-family: 'Times New Roman', Times, serif;
    color: cornflowerblue;
}
a{
    font: 100;
    color: aqua;
    text-align: center;
    
}
